# exclude all
*/

# include NVIM config
!nvim/
!nvim/**/*

# ignore Lazy lock file
nvim/lazy-lock.json

# ignore luarc file
nvim/lua/.luarc.json

# include WEZTERM config
!wezterm/
!wezterm/**/*

# include TMUX config
!tmux/
!tmux/**/*

# ignore TMUX plugins dir
tmux/plugins
